body {
  margin: 0;
  font-family: Arial, sans-serif;

  background: linear-gradient(
    135deg,
    #020617,
    #111827,
    #312e81
  );

  color: white;
  text-align: center;
  background-attachment: fixed;
  min-height: 100vh;
}

a {
    text-decoration: none;
    color: inherit;
    display: block;
}